body {
    margin: 0px;
    font-family: 'Manjari', sans-serif;
}
/* NAV BAR */

nav {
    background-color: salmon;
    padding: 20px 10px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0px; 
    margin: 0px;
    font-size: 18px;
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}  

nav li:first-child {
    margin-top: 0px;
}

nav li {
    border-bottom: 1px solid black;
    padding: 5px 0px;
    margin: 10px;
}

#toggle:checked + .menu
  {
    display: block;
}

.highlight {
    color: papayawhip;
}

nav a:hover {
    color: whitesmoke;
    font-size: 20px; 
}


@media(min-width:370px){
  nav ul li {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 0px;
      margin: 10px 20px;
  }  


  nav ul {
      text-align: center;
  }

  nav {
      padding: 0px 10px;
  }

  .nav-shim {
    height: 30px;
}

  label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

main {
    width: 370px;
    margin: auto;
    position: relative;
    height:1000px; 
    background-color: whitesmoke; 
}

h1 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 6px;
    color: darkgray; 
}

.ar_el,
.design {
    display: inline-block;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.ar_el {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 75px;
    color: #F7744F;
    letter-spacing: -5px;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    padding-top: 100px;
}

.design {
    font-family: 'Rozha One', serif;
    font-size:25px;
    color: #3b3b3b;
    margin-left:-7px;
    
}

.p-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #F7744F;
    line-height: 36px;
}

.p-about {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 100px;
    
}
   
}

@media(max-width:370px){
    .menu {
        display: none;
    }

    #toggle {
        display: none;
    }
} 
.nav-shim {
    height: 42px;
}

/* NAV BAR END */

/* MAIN */

main {
    width: 750px;
    margin: auto;
    position: relative;
    height:1000px; 
    background-color: whitesmoke; 
}

h1 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 12px;
    letter-spacing: 6px;
    color: darkgray; 
}

.ar_el,
.design {
    display: inline-block;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.ar_el {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 150px;
    color: #F7744F;
    letter-spacing: -5px;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    padding-top: 100px;
}

.design {
    font-family: 'Rozha One', serif;
    font-size:50px;
    color: #3b3b3b;
    margin-left:-7px;
    
}

.p-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #F7744F;
    line-height: 36px;
}

.p-about {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 100px;
    
}
/* MAIN-END */
