.purple {
    background-color: rgb(119,33,141);

}

.red {
    background-color: rgb(247, 81, 81)
}

.green {
    background-color: rgb(86, 190, 86);
}

.yellow {
    background-color: yellowgreen;
}

.blue {
    background-color: blue;
}

.transparent {
    background-color: transparent;
}