.grid {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.nested {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows:70px;
    grid-gap:5px;
    padding:5px;
}

.nested > div {
    border: #333 1px solid;
}

.grid > div {
    padding: 10px;
    background: #eee;
}

.grid >div:nth-child(odd) {
    background: #ddd;
}