.grid {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items:stretch;
    align-items:stretch;
}


.grid > div {
    padding: 10px;
    background: #eee;
}

.grid >div:nth-child(odd) {
    background: #ddd;
}

.box1 {
    grid-column:1/4;
    grid-row:1/4;
}

.box2 {
    
}

.box3 {

}

.box4 {
  grid-column:2/3;
  grid-row:2/3;  
}