@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('layout.css');
@import url('color.css');


h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    position: absolute;
    top: 200px;
    left:20px;
}