.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap: 20px;
}

.grid-item {
    width: 100%;
    height: 100px;
    background-color: gainsboro;
}

.grid-layout-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 20px;
}

.double-space {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    background-color: mediumaquamarine;
}