@import url("nav.css");
 

.grid {
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items:stretch;
    align-items:stretch;
}



img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

h2 {
    margin-bottom: 0;
    font-family: 'Delius Unicase', cursive;
    color:white;
    font-weight: 500;
    font-size: 110px;
}

h3 {
    font-family: 'Delius Unicase', cursive;
    padding: 15px;
    text-align: center;
    color:white;
    margin: 0;
}


h1 {
    font-family: 'Delius Unicase', cursive;
    padding: 15px;
    text-align: center;
    color: #65a593;
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}

p {
    font-family: 'Quicksand', sans-serif;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: darkslategrey;
}

/*---------------- MEDIUM SECTION -------------------*/

@media(min-width: 500px) {
    .grid {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        justify-items:stretch;
        align-items:stretch;
    }

    .nested {
        display:grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap:20px;
        padding:30px;
    }
   
}