body {
    margin: 0;
}

.container {
    max-width:1000px;
    margin: auto;
    border-right: #98A665 3px solid;
    border-left: #98A665 3px solid;   
}

hr {
    color: #98A665;
}

header {
    background-color: #F2E8E4;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;

}

header input#toggler {
    display: none;
}

header label img {
    width: 40px;
    height: auto;
    padding: 5px;
    padding-left: 15px;
}


.header-shim {
    height: 50px;
}


nav {
    display: none;
}

input#toggler:checked+nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 25px;
    border-top: 2px solid #65a593;
}


nav li:first-child {
    margin-top: 0px;
}



nav ul a {
    text-decoration: none;
    color: #696673;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.highlight {
    color: grey;
}

/*-------FOOTER--------*/

.grid-footer {
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-auto-rows: minmax(auto);
    background-color: #f2e8e4; 
}

.charityImg > img {
    width: 100%;
    object-fit: contain;
    height:60px;
    padding-top: 20px;
}

.disclamer > p {
    padding: 25px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: grey;
    line-height: 18px;
}

.bold > p{
    font-weight: 700;
}



/*---------------- MEDIUM SECTION -------------------*/

@media(min-width: 590px) {

    header {
        height: 50px;
    }

    header label {
        display: none;
    }

    .header-shim {
        height: 50px;
    }


    nav,
    input#toggler+nav {
        display: block;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        margin: 15px;
        border-top: 0px;
    }

    nav li {
        padding: 0px;
    }

    nav ul {
        text-align: center;
    }

    nav {
        padding: 0px 10px;
    }

    nav a:hover {
        color: #3b3b3b;
        border-bottom: 3px solid #65a593;
    }

/* FOOTER */

.grid-footer {
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto);
    background-color: #f2e8e4; 
}

.charityImg > img {
    width: 100%;
    object-fit: contain;
    height:100px;
    padding-top: 20px;
}

.disclamer > p {
    padding: 25px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: grey;
    line-height: 18px;
}

.bold > p{
    font-weight: 700;
}

}

