.bg {
    background-color: whitesmoke;

}

.blue {
    background-color: rgb(167, 205, 245);
}

.brown {
    background-color: rgb(100, 95, 73);
}

.pink {
    background-color: #e695b6;
}

.biege {
    background-color: #e2dfdc;
}

.grey {
    background-color: #969189
}

.babypink {
    background-color: #e6cbd8;
}

.peach {
    background-color: #f0c3ae;
}

.peach {
    background-color: #f0c3ae;
}

.lilac {
    background-color: #dfb7fa;
}

.white {
    background-color: whitesmoke;
}