header {
    background-color: #fcede9;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

header input#toggler {
    display: none;
}

header label img {
    width: 35px;
    height: auto;
    padding: 10px;
}

.header-shim {
    height: 66.25px;
}


nav {
    display: none;
}

input#toggler:checked+nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    border-bottom: 1px solid #982006;
    padding: 10px 0px;
    text-align: center;
}

nav li:first-child {
    margin-top: 0px;
}



nav ul a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.highlight {
    color: grey;
}



/*---------------- MEDIUM SECTION -------------------*/

@media(min-width: 540px) {

    header label {
        display: none;
    }

    .header-shim {
        height: 61px;
    }
    

    nav,
    input#toggler+nav {
        display: block;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

    nav ul {
        text-align: center;
    }

    nav {
        padding: 0px 10px;
    }

    nav a:hover {
        color: #3b3b3b;
        border-top: 5px solid #982006;
        padding-top: 18px;
    }

}


/*---------------- MEDIUM SECTION END -------------------*/