::-webkit-input-placeholder {
    color: #982006;  
    font-family: 'Lora', serif;
    font-size: 16px;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #982006;  
    font-family: 'Lora', serif;
    font-size: 16px;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #982006;  
    font-family: 'Lora', serif;
    font-size: 16px;
 }
 
 :-ms-input-placeholder {  
    color: #982006;  
    font-family: 'Lora', serif;
    font-size: 16px;
 }


hr {
    height: 2px;
    background: #982006;
    margin: 60px auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: #D53D0D;
    line-height: 26px;
}

.contact-form {
    padding: 0 10px;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
}

.contact-section {
    max-width: 300px;
    margin: auto;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #ffebd5;
    padding: 20px 20px;
    outline: none;
    color: black;
    transition: 0.5s;
    border-radius: 10px;
    font-family: 'Lora', serif;
    font-size: 14px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #982006;
    color: white;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-size: 14px;
}


.contact-form-btn:hover {
    background: #ffebd5;
    color: black;
}

.contact-form-text:focus {
    box-shadow: 0 0 5px 4px #982006;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

@media(min-width:540px){

    .contact-section {
        max-width: 500px;
        margin: auto;
    }

    .contact-form {
    max-width: 500px;
    margin: auto;
    }

}