@import url("colors.css");
@import url("navbar.css");
@import url("form.css");
body {
    margin: 0px;
    font-family: 'Lora', serif;
}



/*---------------- MAIN -------------------*/

.index-container {
    position: relative;
}



.main-title {
    background-color: rgba(235,199,184,0.6);
    width: 100%;
    position: absolute;
    top: 80px;
    color:#982006;
    width: 100%;
    left: 0;
    line-height: 2em;
    border: none;
}

h1  {
    font-size: 40px;
    font-family: 'UnifrakturCook', cursive;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
}

.sub-head h2 {
    margin-top:50px;
    font-weight:700;
    font-size:50px;
    text-transform: none;
}

h2 {
font-family: 'Lora', serif;
text-transform: uppercase;
letter-spacing: 10px;
font-size: 17px;
text-align: center;
margin-top: -14px;
font-weight: 700;
}


h3 {
    letter-spacing: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    border-bottom: solid black 2px;
}

.store-hours {
    max-width: 300px;
    margin: auto;
}

.hours {
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
}

.hour-title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 21px;
    text-align: center;
    letter-spacing: 2px;
}


.floater-section {
    float: left;
    min-height: 60px;
    width: 100%;

}

.container::after {
    clear: both;
    content: "";
    display: block;
}

img {
    width: 100%;
    object-fit: cover;
}

.image-size img {
    height:300px;
}

.icon img {
    height:45px;
    width: 45px;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
    margin: 20px;
}

.address {
    display:block;
}


.content {
    margin: auto;
}

.bottom {
    padding-bottom: 100px;
}



.clearfix {
    padding-bottom: 100px;
}

.v-h-centered-block {
    height: 140px;
    width: 140px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.pos-relative {
    position: relative;
}



 /* MAIN */

/* MEDIUM SIZED SCREENS */

@media(min-width:540px){

    .main-title {
        background-color: rgba(235,199,184,0.6);
        width: 100%;
        position: absolute;
        top: 110px;
        color:#982006;
        width: 100%;
        left: 0;
        line-height: 2em;
        border: none;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size:25px;
        letter-spacing: 13px;
    }

    h3 {
        font-size: 30px;
        border-bottom: solid black 2px;
        padding: 20px;
    }

    .store-hours {
        max-width: 500px;
        margin: auto;
    }

    .hours {
        text-align: left;
    }
    
    .hour-title {
        text-align: left;
    }

    .width-md-25 {
        width: 25%;

    }
  
    .width-md-33 {
        width: 33.3333333333%;
    }

    .width-md-50 {
        width: 50%;
    }

    .width-md-66 {
        width: 66%;
    }

    .width-md-75 {
        width: 75%;
    }

    .width-md-100 {
        width: 100%;
    }


}

/* LARGE SIZED SCREENS */

@media (min-width: 800px) {

    .main-title {
        background-color: rgba(235,199,184,0.6);
        width: 100%;
        position: absolute;
        top: 135px;
        color:#982006;
        width: 100%;
        left: 0;
        line-height: 2em;
        border: none;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size:40px;
        letter-spacing: 13px;
    }

    .width-lg-25 {
        width: 25%;

    }
  
    .width-lg-33 {
        width: 33.3333333333333%;
    }

    .width-lg-50 {
        width: 50%;
    }

    .width-lg-66 {
        width: 66%;
    }

    .width-lg-75 {
        width: 75%;
    }

    .width-lg-100 {
        width: 100%;
    }

}

/* LARGER SCREENS */

@media (min-width: 900px) {
    .main-title {
        background-color: rgba(235,199,184,0.6);
        width: 100%;
        position: absolute;
        top: 160px;
        color:#982006;
        width: 100%;
        left: 0;
        line-height: 2em;
        border: none;
    }
}