@import url("colors.css");
@import url("navbar.css");
@import url("form.css");
body {
    margin: 0px;
    font-family: 'Lora', serif;
}



/*---------------- MAIN -------------------*/

.main-title {
    color: #982006;
    border-bottom: 2px #982006 solid;
}

h1  {
    font-size: 40px;
    font-family: 'UnifrakturCook', cursive;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
}

.sub-head h2 {
    margin-top:50px;
    font-weight:700;
    font-size:50px;
    text-transform: none;
}

h2 {
font-family: 'Lora', serif;
text-transform: uppercase;
letter-spacing: 10px;
font-size: 17px;
text-align: center;
margin-top: -14px;
font-weight: 700;
}


h3 {
    letter-spacing: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    padding: 20px 0 0 0;
}

.store-hours {
    max-width: 300px;
    margin: auto;
}

.hours {
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
}

.hour-title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 26px;
    text-align: center;
    letter-spacing: 2px;
}


.floater-section {
    float: left;
    min-height: 60px;
    width: 100%;

}

.container::after {
    clear: both;
    content: "";
    display: block;
}

img {
    width: 100%;
}

.content {
    margin: auto;
}



.clearfix {
    padding-bottom: 100px;
}




 /* MAIN */

/* MEDIUM SIZED SCREENS */

@media(min-width:540px){

    img {
        position: relative;
    }

    .main-title {
        background-color: rgba(235,199,184,0.6);
        width: 100%;
        position: absolute;
        top: 200px;
        color:#982006;
        width: 100%;
        left: 0;
        line-height: 2em;
        border: none;
    }


    h1 {
        font-size: 60px;
    }

    h2 {
        font-size:25px;
        letter-spacing: 13px;
    }

    h3 {
        font-size: 30px;
        border-bottom: solid black 2px;
        padding: 20px;
    }

    .store-hours {
        max-width: 500px;
        margin: auto;
    }

    .hours {
        text-align: left;
    }
    
    .hour-title {
        text-align: left;
    }

    .width-md-25 {
        width: 25%;

    }
  
    .width-md-33 {
        width: 33.3333333333%;
    }

    .width-md-50 {
        width: 50%;
    }

    .width-md-66 {
        width: 66%;
    }

    .width-md-75 {
        width: 75%;
    }

    .width-md-100 {
        width: 100%;
    }


}

/* LARGE SIZED SCREENS */

@media (min-width: 800px) {

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size:40px;
        letter-spacing: 13px;
    }

    .width-lg-25 {
        width: 25%;

    }
  
    .width-lg-33 {
        width: 33.3333333333333%;
    }

    .width-lg-50 {
        width: 50%;
    }

    .width-lg-66 {
        width: 66%;
    }

    .width-lg-75 {
        width: 75%;
    }

    .width-lg-100 {
        width: 100%;
    }

}